# Spam Mail detection

## Importing libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

## Importing Dataset

In [46]:
df = pd.read_csv("spam_ham_dataset.csv")
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [5]:
data = df.where((pd.notnull(df)),'')

In [6]:
data.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

##### From "label_num" column we can analyze that 0 is assinged  for "ham mail" and 1 for "spam mail"

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [47]:
data.shape

(5171, 4)

##### Dataset consists of 5171 rows and 4 columns

In [48]:
inputs= df.drop('Unnamed: 0', axis='columns')

##### Dropped "Unnamed : 0" column

In [10]:
inputs

     label                                               text  label_num
0      ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  Subject: photoshop , windows , office . cheap ...          1
4      ham  Subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  Subject: industrial worksheets for august 2000...          0
5170  spam  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [11]:
x = data['text']
y= data['label_num']

In [12]:
print(x)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [13]:
print(y)

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64

# Import train_test_split model : is  used to split our data into train and test sets

In [14]:
from sklearn.model_selection import train_test_split

## Splitting 80% of data for training and  20% for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.8)

#### Checking the size of splitted data

In [16]:
print(x.shape)
print(X_train.shape)
print(X_test.shape)

(5171,)
(4136,)
(1035,)

In [17]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(5171,)
(4136,)
(1035,)

## Import TfidfVectorizer : to analyze the frequency of words to determine how relevant those words are to a given document

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase= 'True')

In [20]:
x_train_features = feature_extraction.fit_transform(X_train)
x_test_features = feature_extraction.transform(X_test)

y_train = y_train.astype('int')
y_teast = y_test.astype('int')

In [21]:
print(X_train)

2102    Subject: re : sitara training\r\ndaren\r\nthe ...
2515    Subject: do you feel safe as an american ?\r\n...
764     Subject: shape your wood .\r\nclick here to or...
3572    Subject: fw : state and county verification\r\...
437     Subject: latest frontera doc\r\n- - - - - - - ...
                              ...
4468    Subject: maynard oil - revised nom\r\ndaren ,\...
3948    Subject: ocean star brown bag - may 17 th , 20...
4533    Subject: bowl games\r\nhi ,\r\n?\r\nam i to un...
4810    Subject: paliourg get vicodin here now . . .\r...
2564    Subject: vastar / big thicket\r\nanita ,\r\npe...
Name: text, Length: 4136, dtype: object

In [35]:
test = print(X_test)

3636    Subject: support for monthly charges for analy...
5145    Subject: re : epgt\r\ngloria , the difference ...
3984    Subject: re : fw : march 2001 invoice\r\ntess ...
3110    Subject: fw : tribute to america\r\nregards ,\...
4988    Subject: re : oasis pipe line company\r\njust ...
                              ...
4112                        Subject: security warning\r\n
4106    Subject: well head\r\ndaren " you new dad " i ...
2258    Subject: organizational changes\r\nplease shar...
2495    Subject: hr performance objectives binders\r\n...
4959    Subject: get real results with real v / agra 5...
Name: text, Length: 1035, dtype: object

In [22]:
print(x_train_features)

  (0, 33780)	0.029783030177098217
  (0, 26768)	0.0333851472286763
  (0, 12923)	0.06229351410582053
  (0, 21160)	0.05032550904191658
  (0, 6240)	0.06798145585601759
  (0, 6849)	0.06472545398197256
  (0, 29615)	0.03969436839663591
  (0, 32465)	0.041273167447524406
  (0, 36206)	0.04715910856024555
  (0, 40913)	0.04504488866206231
  (0, 28923)	0.05481144738209557
  (0, 40165)	0.05934317386994258
  (0, 26812)	0.03391437476334974
  (0, 30738)	0.06900101705333096
  (0, 41693)	0.03601661749832453
  (0, 39985)	0.03815817908864671
  (0, 31542)	0.05801795103446212
  (0, 26251)	0.04738681038918145
  (0, 29233)	0.028540025672193485
  (0, 11387)	0.05801795103446212
  (0, 1497)	0.030642026802243743
  (0, 1068)	0.034688938539564264
  (0, 0)	0.055931880364870415
  (0, 485)	0.036755669743900786
  (0, 42941)	0.05506280907914833
  :	:
  (4135, 8210)	0.07539653554545053
  (4135, 53)	0.045266409541591106
  (4135, 154)	0.057165882028182555
  (4135, 115)	0.10416524332868328
  (4135, 338)	0.045372933218608615
  (4135, 170)	0.11539482944582997
  (4135, 136)	0.054509988420313044
  (4135, 26037)	0.07520526015917356
  (4135, 39872)	0.05115586488816067
  (4135, 246)	0.039522378265086304
  (4135, 40165)	0.04662575242516813
  (4135, 0)	0.30761856596976206
  (4135, 25009)	0.03862192274314944
  (4135, 25772)	0.041604940579111446
  (4135, 74)	0.04991768589050674
  (4135, 181)	0.05333789900127707
  (4135, 90)	0.049845788864327736
  (4135, 402)	0.09069246451758362
  (4135, 196)	0.05284948294305115
  (4135, 39889)	0.034766138920005865
  (4135, 36710)	0.23765400735040593
  (4135, 27499)	0.06854107122394203
  (4135, 24489)	0.04860659008109605
  (4135, 37312)	0.3795423652778643
  (4135, 38758)	0.015206192708595873

# Import LogisticRegression :  to calculate the probability of an event 
### In our case events are either spam or ham mail

In [23]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [24]:
model.fit(x_train_features, y_train)

LogisticRegression()

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_training_data =accuracy_score(y_train, prediction_on_training_data)

In [27]:
print("Accuracy on training data: ",accuracy_on_training_data)

Accuracy on training data:  0.9961315280464217

### Accuracy of our trained model  is 99.61%

In [28]:
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data =accuracy_score(y_test, prediction_on_test_data)

In [29]:
print("Accuracy on text data: ",accuracy_on_test_data)

Accuracy on text data:  0.9845410628019323

# Prediction of mail
### Enter subject or body of a mail in "input" to check if it's spam or ham mail

In [42]:
inputs =[" You've won a lottery"]
input_data_features = feature_extraction.transform(inputs)
prediction = model.predict(input_data_features)

In [43]:
#print(prediction)

if prediction==0:
    print("Not spam mail")
else:
    print("Spam mail")

Spam mail

#                                                 THANK-YOU